@import 'public';

// 头部
.head{
    background: #f2f2f2;
    height: 32px;
    border-bottom: 1px solid #e5e5e5;
    .head_l{
        float: left;
        font-size: 12px;
        color: #999999;
        line-height: 32px;
        a:nth-of-type(1){
            width: 84px;
            float: left;
            padding-left: 16px;
            box-sizing: border-box;
            background: url(../img/list/21.png) no-repeat 0 10px;
        }
        a:nth-of-type(2){
            margin-left: 20px;
        }
        a:nth-of-type(3){
            margin-left: 20px;
        }
        p{
            float: left;
        }
        a{
            float: left;
        }
        a:hover{
            color: #ff0036;
            text-decoration: underline;
        }
    }
    .head_r{
        float: right;
        box-sizing: border-box;
        font-size: 12px;
        background: url(../img/main/2.png) no-repeat 235px 8px;
        li{
            float: left;
            color: #999999;
            line-height: 32px;
            position: relative;
        }
        li:nth-of-type(1){
            .list{
                display: block;
                width: 72px;
                height: 100%;
                padding-left: 20px;
                background: url(../img/main/1.png) no-repeat 72px 15px;
                .head_r_a{
                    width: 90px;
                    height: 61px;
                    background: white;
                    border: 1px solid #eeeeee;
                    border-top: none;
                    position: absolute;
                    top: 32px;
                    left: -1px;
                    padding-left: 13px;
                    padding-top: 10px;
                    display: none;
                }
            }
            .list:hover{
                color: #ff0036;
                text-decoration: underline;
                background: url(../img/main/6.png) no-repeat 72px 15px white;
                border-bottom: none;
                .head_r_a{
                    display: block;
                    color: #999999;
                    p{
                        line-height: 24px;
                    }
                    p:hover{
                        color: #ff0036;
                        text-decoration: underline;
                    }
                }
            }
        }
        li:nth-of-type(2){
            .list{
                display: block;
                width: 45px;
                height: 100%;
                padding-left: 25px;
                background: url(../img/main/3.png) no-repeat 10px 9px;
            }
            .list:hover{
                color: #ff0036;
            }
        }
        li:nth-of-type(3){
            .list{
                display: block;
                width: 40px;
                height: 100%;
                padding: 0 15px;
                background: url(../img/main/1.png) no-repeat 55px 15px;
                .head_r_a{
                    width: 80px;
                    height: 61px;
                    background: white;
                    border: 1px solid #eeeeee;
                    border-top: none;
                    position: absolute;
                    top: 32px;
                    left: -1px;
                    padding-left: 13px;
                    padding-top: 10px;
                    display: none;
                }
            }
            .list:hover{
                color: #ff0036;
                text-decoration: underline;
                background: url(../img/main/6.png) no-repeat 55px 15px white;
                .head_r_a{
                    display: block;
                    color: #999999;
                    p{
                        line-height: 24px;
                    }
                    p:hover{
                        color: #ff0036;
                        text-decoration: underline;
                    }
                }
            }
        }
        li:nth-of-type(4){
            .list{
                display: block;
                width: 53px;
                height: 100%;
                position: relative;
                padding-left: 28px;
                background: url(../img/main/4.png) no-repeat 15px 10px;
                div{
                    width: 218px;
                    position: absolute;
                    z-index: 100;
                    left: -65px;
                    top: 30px;
                    box-shadow: 0 0 5px #999999;
                    display: none;
                }
            }
            .list:hover{
                color: #ff0036;
                div{
                    display: block;
                }
            }
        }
        li:nth-of-type(5){
            .list{
                display: block;
                width: 50px;
                height: 100%;
                padding: 0 7px;
            }
            .list:hover{
                color: #ff0036;
            }
        }
        li:nth-of-type(6){
            .list{
                display: block;
                width: 56px;
                height: 100%;
                padding: 0 10px;
                position: relative;
                background: url(../img/main/1.png) no-repeat 60px 15px;
                .head_r_a{
                    width: 130px;
                    background: white;
                    padding: 10px 15px;
                    border: 1px solid #eeeeee;
                    border-top: none;
                    position: absolute;
                    left: -85px;
                    top: 32px;
                    display: none;
                    dl:nth-of-type(1){
                        border-bottom: 1px dashed #827777;
                        dt{
                            line-height: 18px;
                        }
                        dd{
                            display: inline-block;
                            line-height: 18px;
                        }
                        dd:nth-of-type(2n+1){
                            margin-right: 30px;
                        }
                    }
                    dl:nth-of-type(2){
                        border-bottom: 1px dashed #827777;
                        padding-top: 10px;
                        dt{
                            line-height: 18px;
                        }
                        dd{
                            display: inline-block;
                            line-height: 18px;
                        }
                        dd:nth-of-type(2n+1){
                            margin-right: 30px;
                        }
                    }
                }
            }
            .list:hover{
                color: #ff0036;
                text-decoration: underline;
                background: url(../img/main/6.png) no-repeat 60px 15px white;
                .head_r_a{
                    display: block;
                    color: #666666;
                    dd:hover{
                        color: #ff0036;
                        text-decoration: underline;
                    }
                }
            }
        }
        li:nth-of-type(7){
            .list{
                display: block;
                width: 56px;
                height: 100%;
                padding: 0 7px 0 24px;
                position: relative;
                background: url(../img/main/1.png) no-repeat 75px 15px,url(../img/main/5.png) no-repeat 7px 10px;
                .head_r_a{
                    width: 1165px;
                    background: white;
                    padding: 22px 15px 32px 15px;
                    border: 1px solid #eeeeee;
                    border-top: none;
                    position: absolute;
                    z-index: 10000000;
                    left: -1109px;
                    top: 32px;
                    display: none;
                    li:nth-of-type(1){
                        width: 447px;
                        font-size: 18px;
                        color: #f89347;
                        border-right: 1px solid #f5f5f5;
                        h3{
                            line-height: 48px;
                        }
                        span{
                            display: inline-block;
                            width: 85px;
                            height: 36px;
                            font-size: 12px;
                            line-height: 36px;
                            color: #666666;
                        }
                        .hot{
                            background-position: 46px 0px;
                        }
                        .new{
                            background-position: 46px 0px;
                        }
                    }
                    li:nth-of-type(2){
                        width: 447px;
                        font-size: 18px;
                        color: #2263d4;
                        margin-left: 15px;
                        border-right: 1px solid #f5f5f5;
                        h3{
                            line-height: 48px;
                        }
                        span{
                            display: inline-block;
                            width: 85px;
                            height: 36px;
                            font-size: 12px;
                            line-height: 36px;
                            color: #666666;
                        }
                        .hot{
                            background-position: 26px 0px;
                        }
                        .new{
                            background-position: 26px 0px;
                        }
                    }
                    li:nth-of-type(3){
                        width: 239px;
                        font-size: 18px;
                        color: #666666;
                        margin-left: 15px;
                        h3{
                            line-height: 48px;
                        }
                        span{
                            display: inline-block;
                            width: 110px;
                            height: 36px;
                            font-size: 12px;
                            line-height: 36px;
                            color: #666666;
                        }
                    }
                }
            }
            .list:hover{
                color: #ff0036;
                text-decoration: underline;
                background: url(../img/main/6.png) no-repeat 75px 15px,url(../img/main/5.png) no-repeat 7px 10px white;
                .head_r_a{
                    display: block;
                    li:nth-of-type(1) span:hover{
                        color: #f89347;
                        text-decoration: underline;
                    }
                    li:nth-of-type(2) span:hover{
                        color: #2263d4;
                        text-decoration: underline;
                    }
                    li:nth-of-type(3) span:hover{
                        color: #666666;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// 页面主体
main{
    height: auto;

// 搜索栏
    .main_a{
        height: 97px;
        border-bottom: 1px solid #e5e5e5;
        overflow: hidden;
        background: url(../img/list/1.png) no-repeat 0 28px,url(../img/list/2.png) no-repeat 1000px 0;
        .main_a_box{
            width: 597px;
            height: 71px;
            margin: 25px auto 0 auto;
            input{
                width: 499px;
                height: 30px;
                border: 3px solid #ff0036;
                outline: none;
                float: left;
                padding-left: 5px;
                line-height: 30px;
                font-size: 12px;
                color: black;
                font-weight: bold;
            }
            button{
                width: 87px;
                height: 36px;
                background: #ff0036;
                border: none;
                float: left;
                font-size: 16px;
                color: white;
                line-height: 30px;
                text-align: center;
                outline: none;
                cursor: pointer;
            }
            p{
                color: #cccccc;
                a{
                    font-size: 12px;
                    line-height: 28px;
                    color: #999999;
                }
            }
        }
    }

// 筛选
    .main_b{
        height: auto;
        border-top: 1px solid #e5e5e5;
        .main_b_title{
            width: 100%;
            height: 38px;
            padding-top: 7px;
            p:nth-of-type(1){
                float: left;
                font-size: 12px;
                line-height: 22px;
                color: #666666;
                margin-left: 25px;
            }
            input{
                float: left;
                width: 152px;
                height: 22px;
                border: 1px solid #cccccc;
                padding-left: 12px;
                margin-left: 9px;
                font-size: 12px;
                line-height: 22px;
                box-sizing: border-box;
                background: url(../img/list/13.png) no-repeat 130px 4px;
            }
            p:nth-of-type(2){
                float: right;
                font-size: 12px;
                color: #999999;
                line-height: 22px;
                margin-right: 11px;
            }
        }

        .main_b_main{
            // height: 311px;
            height: 154px;
            overflow: hidden;
            box-sizing: border-box;
            border: 2px solid #d1ccc7;
            p{
                width: 107px;
                float: left;
                padding-left: 12px;
                height: 100%;
                background: #f7f5f5;
                font-size: 12px;
                line-height: 36px;
                color: #b0a59f;
            }
            .main_top{
                width: 1032px;
                height: 36px;
                float: left;
                padding: 0 10px 0 25px;
                input{
                    width: 108px;
                    float: left;
                    height: 17px;
                    font-size: 12px;
                    line-height: 17px;
                    border: 1px solid #cec9c5;
                    color: #bfbfbf;
                    padding-left: 20px;
                    outline: none;
                    margin-top: 5px;
                    background: url(../img/list/14.png) no-repeat 3px 3px;
                }
                span{
                    width: 48px;
                    height: 19px;
                    line-height: 19px;
                    background: #f2f0ef;
                    color: #806f66;
                    font-size: 12px;
                    text-align: center;
                    float: right;
                    margin-top: 5px;
                    cursor: pointer;
                }
                .main_b_btn{
                    width: 47px;
                    float: right;
                    height: 19px;
                    margin-top: 5px;
                    position: relative;
                    // 收起
                    .main_b_btn1{
                        position: absolute;
                        height: 19px;
                        width: 47px;
                        color: #806f66;
                        font-size: 12px;
                        border: none;
                        cursor: pointer;
                        outline: none;
                        display: none;
                        background: url(../img/list/15.png) no-repeat 36px 8px;
                    }
                    .main_b_btn1:hover{
                        color: #ff0036;
                    }
                    // 更多
                    .main_b_btn2{
                        position: absolute;
                        height: 19px;
                        width: 47px;
                        color: #806f66;
                        font-size: 12px;
                        border: none;
                        cursor: pointer;
                        outline: none;
                        background: url(../img/list/16.png) no-repeat 36px 8px;
                    }
                    .main_b_btn2:hover{
                        color: #ff0036;
                    }
                }
            }
            .main_b_logo{
                width: 1012px;
                height: 267px;
                float: left;
                margin-left: 25px;
                overflow: auto;
                margin-bottom: 5px;
                ul{
                    width: 954px;
                    height: 267px;
                    display: none;
                    li{
                        width: 104px;
                        height: 52px;
                        float: left;
                        border: 1px solid #e1e1e1;
                        position: relative;
                        cursor: pointer;
                        .main_b_minBox{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                        }
                        span{
                            display: block;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            font-size: 14px;
                            color: #ff0036;
                            position: absolute;
                            line-height: 52px;
                            z-index: -10;
                        }
                        .king_textA{
                            color: #806f66;
                        }
                    }
                    .kind_img:hover{
                        border: 1px solid #ff0036;
                        .main_b_minBox{
                            display: none;
                        }
                    }
                    .kind_text:hover{
                        border: 1px solid #ff0036;
                        .king_textA{
                            color: #ff0036;
                        }
                    }
                }
                ol{
                    width: 954px;
                    height: 107px;
                    li{
                        width: 104px;
                        height: 52px;
                        float: left;
                        border: 1px solid #e1e1e1;
                        position: relative;
                        cursor: pointer;
                        .main_b_minBox{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                        }
                        span{
                            display: block;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            font-size: 12px;
                            color: #ff0036;
                            position: absolute;
                            line-height: 52px;
                            z-index: -10;
                        }
                        .king_textA{
                            color: #806f66;
                        }
                    }
                    .kind_img:hover{
                        border: 1px solid #ff0036;
                        .main_b_minBox{
                            display: none;
                        }
                    }
                    .kind_text:hover{
                        border: 1px solid #ff0036;
                        .king_textA{
                            color: #ff0036;
                        }
                    }
                }
            }
        }

        .main_b_bottom{
            height: 34px;
            border: 1px solid #d1ccc7;
            border-top: none;
            margin-bottom: 11px;
            p{
                float: left;
                display: block;
                width: 108px;
                height: 34px;
                background: #f7f5f5;
                font-size: 12px;
                line-height: 34px;
                color: #806f66;
                padding-left: 13px;
            }
            a{
                float: left;
                font-size: 12px;
                color: #806f66;
                margin-left: 30px;
                line-height: 34px;
                margin-right: 94px;
            }
        }
        
    }

// 吸顶
    .ceiling{
        height: 34px;
        width: 100%;
        background: #faf9f9;
        position:sticky;
        top:0;
        z-index: 20;
        .ceiling_l{
            float: left;
            width: 813px;
            height: 24px;
            margin-top: 5px;
            margin-left: 5px;
            cursor: pointer;
        }
        .ceiling_r{
            float: right;
            margin-top: 5px;
            margin-right: 5px;
            p{
                float: left;
                font-size: 12px;

                line-height: 24px;
                color: #999999;
            }
            span{
                float: left;
                width: 19px;
                height: 19px;
                display: block;
                border: 1px solid #e5e5e5;
                margin-left: 4px;
                font-size: 12px;
                line-height: 19px;
                text-align: center;
                cursor: pointer;
            }
            span:hover{
                background: #efefef;
                color: #9999ae;
            }
        }
    }

// 页面主体
    .main_c{
        height: 4781px;
        width: 100%;
        
        li{
            position: relative;
            float: left;
            width: 230px;
            height: 385px;
            margin: 7px 4px;
            .main_c_bBox{
                width: 230px;
                height: 385px;
                position: absolute;
                background: red;
                z-index: 10;
                display: none;
            }
            .main_c_sBox{
                width: 222px;
                height: 377px;
                margin-left: 4px;
                margin-top: 4px;
                background: white;
                border: 1px solid #f5f5f5;
                box-sizing: border-box;
                border-radius: 1px;
                position: absolute;
                z-index: 11;
                .img_bBox{
                    width: 218px;
                    height: 218px;
                    position: relative;
                    img{
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        margin: auto;
                        cursor: pointer;
                    }
                }
                .img_sBox{
                    width: 100%;
                    height: 34px;
                    padding: 6px 0;
                    img{
                        margin-left: 4px;
                        cursor: pointer;
                        float: left;
                    }
                }
                h6{
                    padding-left: 4px;
                    height: 27px;
                    font-size: 16px;
                    line-height: 27px;
                    color: #ff003c;
                    b{
                        font-weight: normal;
                        font-size: 12px;
                    }
                }
                p:nth-of-type(1){
                    font-size: 12px;
                    line-height: 29px;
                    color: #333333;
                    padding-left: 4px;
                    cursor: pointer;
                }
                p:nth-of-type(1):hover{
                    color: #ff003c;
                    text-decoration: underline;
                }
                p:nth-of-type(2){
                    font-size: 12px;
                    line-height: 12px;
                    color: #999999;
                    padding-left: 4px;
                    cursor: pointer;
                    text-decoration: underline;
                    margin-bottom: 10px;
                }
                p:nth-of-type(2):hover{
                    color: #ff003c;
                }
                .bottom_box{
                    margin: 0 4px;
                    border-top: 1px solid #eeeeee;
                    span:nth-of-type(1){
                        float: left;
                        width: 77px;
                        height: 32px;
                        border-right: 1px solid #eeeeee;
                        font-size: 12px;
                        line-height: 32px;
                        padding-left: 7px;
                        i{
                            color: #b57c5b;
                            font-style: normal;
                        }
                    }
                    span:nth-of-type(2){
                        float: left;
                        width: 83px;
                        height: 32px;
                        border-right: 1px solid #eeeeee;
                        font-size: 12px;
                        line-height: 32px;
                        padding-left: 7px;
                        i{
                            color: #3388bb;
                            font-style: normal;
                        }
                    }
                    span:nth-of-type(3){
                        width: 34px;
                        height: 32px;
                        float: left;
                        cursor: pointer;
                        background: url(../img/list/3.png) no-repeat 10px 8px;
                    }
                }
            }
        }
        li:hover{
            .main_c_bBox{
                display: block;
            }
        }
    }

// 分页
    .main_d{
        height: 135px;
        width: 100%;
        overflow: hidden;
        background: url(../img/list/6.png) no-repeat center 28px;
        .main_d_box{
            width: 492px;
            height: 40px;
            margin: 0 auto;
            margin-top: 44px;
            span{
                float: left;
                line-height: 40px;
                text-align: center;
                color: #2953a6;
                font-size: 14px;
            }
            span:hover{
                background: #efefef;
                color: #999999;
            }
            span:nth-of-type(1){
                width: 66px;
                height: 38px;
                border: 1px solid #e5e5e5;
                border-right: none;
                padding-left: 10px;
                color: #999999;
                cursor: pointer;
                background: url(../img/list/4.png) no-repeat 10px 15px #efefef;
            }
            span:nth-of-type(2),span:nth-of-type(3),span:nth-of-type(4){
                width: 35px;
                height: 38px;
                border: 1px solid #e5e5e5;
                border-right: none;
                cursor: pointer;
            }
            span:nth-of-type(4){
                border-right: 1px solid #e5e5e5;
            }
            span:nth-of-type(5){
                width: 29px;
                height: 38px;
            }
            span:nth-of-type(6){
                width: 66px;
                height: 38px;
                cursor: pointer;
                border: 1px solid #e5e5e5;
                padding-right: 10px;
                margin-right: 10px;
                background: url(../img/list/5.png) no-repeat 55px 15px;
            }
            p{
                float: left;
                font-size: 14px;
                line-height: 40px;
                color: #999999;
                input{
                    width: 19px;
                    height: 18px;
                    padding-left: 13px;
                }
                button{
                    width: 44px;
                    height: 18px;
                    border: 1px solid #cccccc;
                    background: #f5f5f5;
                    color: black;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
        .main_d_t{
            display: block;
            margin-top: 21px;
            width: 100%;
            height: 30px;
            border: 1px solid #f3f0ee;
            box-sizing: border-box;
            b{
                font-weight: normal;
                font-size: 12px;
                color: #b0a59f;
                line-height: 30px;
                margin-left: 10px;
                margin-right: 28px;
            }
            a{
                margin: 0 16px;
                font-size: 12px;
                color: #806f66;
                line-height: 30px;
            }
            a:hover{
                color: #ff0036;
            }
            span{
                font-size: 14px;
                line-height: 30px;
                color: #dcccc4;
            }
        }
    }
}

// 广告
.advert{
    height: 569px;
    border-bottom: 1px solid #d1d7dc;
    .advert_main{
        height: 569px;
        .advert_t{
            height: 49px;
            width: 100%;
            h3{
                float: left;
                font-size: 16px;
                color: #666666;
                line-height: 49px;
                margin-left: 15px;
            }
            span{
                float: right;
                font-size: 12px;
                line-height: 49px;
                padding-left: 28px;
                color: #666666;
                cursor: pointer;
                margin-right: 47px;
                background: url(../img/list/19.png) no-repeat 0 17px;
            }
        }
        .advert_c{
            height: 381px;
            li{
                width: 237px;
                height: 337px;
                position: relative;
                float: left;
                .advert_c_bjBox{
                    width: 237px;
                    height: 337px;
                    border: 3px solid red;
                    box-sizing: border-box;
                    display: none;
                }
                .advert_c_mainBox{
                    width: 231px;
                    height: 331px;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    z-index: 20;
                    border: 1px solid #f5f5f5;
                    box-sizing: border-box;
                    .advert_c_imgBox{
                        width: 229px;
                        height: 230px;
                        position: relative;
                        img{
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            margin: auto;
                            cursor: pointer;
                        }
                    }
                    .advert_c_price{
                        width: 221px;
                        height: 16px;
                        line-height: 16px;
                        padding: 0 4px;
                        margin-bottom: 17px;
                        p:nth-of-type(1){
                            float: left;
                            font-size: 12px;
                            color: #ff0036;
                            b{
                                font-size: 16px;
                                font-weight: normal;
                            }
                        }
                        p:nth-of-type(2){
                            float: left;
                            font-size: 12px;
                            color: #999999;
                            text-decoration: line-through;
                        }
                        p:nth-of-type(3){
                            float: right;
                            font-size: 12px;
                            color: black;
                            b{
                                font-weight: normal;
                                color: #b57c5b;
                            }
                        }
                    }
                    .text1{
                        font-size: 12px;
                        line-height: 12px;
                        padding: 0 4px;
                        margin-bottom: 12px;
                        a{
                            color: #666666;
                        }
                    }
                    .text2{
                        padding: 0 4px;
                        color: #999999;
                        a{
                            float: left;
                            font-size: 12px;
                            text-decoration: underline;
                        }
                        b{
                            font-weight: normal;
                            float: right;
                            font-size: 12px;
                        }
                    }
                }
            }
            li:hover{
                .advert_c_bjBox{
                    display: block;
                }
            }
        }
        .advert_b{
            height: 84px;
            background: #f4f4f4;
            overflow: hidden;
            .advert_btn{
                width: 530px;
                height: 30px;
                margin: auto;
                margin-top: 27px;
                input{
                    width: 424px;
                    height: 26px;
                    border: 2px solid #ff0036;
                    float: left;
                    padding-left: 5px;
                    font-size: 12px;
                    line-height: 26px;
                    color: black;
                    outline: none;
                }
                button{
                    width: 97px;
                    height: 30px;
                    background: #ff0036;
                    float: left;
                    border: none;
                    font-size: 12px;
                    line-height: 30px;
                    text-align: center;
                    color: white;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
        .advice{
            width: 230px;
            height: 14px;
            padding-left: 20px;
            font-size: 12px;
            line-height: 14px;
            color: black;
            margin-top: 30px;
            background: url(../img/list/7.png) no-repeat 1px 0;
            a{
                color: #3366cc;
            }
        }
    }
}

// 友情链接
.list1{
    height: 363px;
    border-bottom: 2px solid #ff0036;
    .list1_main{
        height: 100%;
        background: url(../img/list/27.png) no-repeat 51px 340px;
        ul{
            width: 100%;
            height: 150px;
            border-bottom: 1px solid #ededed;
            li{
                height: 50px;
                float: left;
                margin-top: 50px;
            }
            li:nth-of-type(1){
                width: 282px;
                padding-left: 51px;
            }
            li:nth-of-type(2){
                width: 298px;
            }
            li:nth-of-type(3){
                width: 321px;
            }
            li:nth-of-type(4){
                width: 238px;
            }
            img{
                float: left;
                margin-right: 16px;
            }
            b{
                float: left;
                color: #343434;
                font-size: 18px;
                line-height: 20px;
            }
            p{
                float: left;
                color: #9e9e9e;
                font-size: 16px;
                line-height: 30px;
            }
        }
        .list1_main_b{
            height: 212px;
            dl{
                float: left;
                margin-top: 22px;
                dt{
                    font-size: 18px;
                    line-height: 32px;
                    color: #646464;
                }
                dd{
                    font-size: 12px;
                    line-height: 20px;
                    a{
                        color: #8b8b8b;
                    }
                }
            }
            .gwzn{
                width: 239px;
                padding-left: 51px;
            }
            .tmbz{
                width: 238px;
            }
            .zffs{
                width: 238px;
            }
            .sjfw{
                width: 238px;
            }
            .sjtm{
                width: 98px;
                img{
                    margin: 7px 0 0 7px;
                }
            }
        }
    }
}

// 底部
footer{
    height: 205px;
    background-color: black;
    .foot{
        height: 205px;
        .foot_a{
            a{
                font-size: 12px;
                color: white;
                line-height: 36px;
            }
        }
        .foot_b{
            a{
                font-size: 12px;
                color: white;
                line-height: 36px; 
            }
            span{
                color: white;
                font-size: 12px;
                line-height: 36px; 
            }
        }
        .foot_c{
            margin-bottom: 3px;
            span{
                color: #a4a4a4;
                font-size: 12px;
                line-height: 24px;
                margin-right: 65px;
            }
        }
        .foot_d{
            span{
                color: #a4a4a4;
                font-size: 12px;
                line-height: 24px;
                margin-right: 65px;
            }
            span:nth-of-type(3){
                padding-left: 20px;
                background: url(../img/main/28.png) no-repeat ;
            }
        }
        .foot_e{
            span{
                color: #a4a4a4;
                font-size: 12px;
                line-height: 24px;
                margin-right: 65px;
            }
        }
        .foot_f{
            span{
                color: #a4a4a4;
                font-size: 12px;
                line-height: 24px;
                margin-right: 65px;
            }
            a{
                color: #a4a4a4;
                font-size: 12px;
                line-height: 24px;
            }
        }
        .foot_g{
            font-size: 12px;
            line-height: 22px;
            color: #686868;
            margin-bottom: 7px;
        }
    }
}